html {
  font-size: 62.5%;
}

body {
  background-image: url(../assets/bg.jpg);
  background-repeat: repeat;
  background-size: contain;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 6rem;
}

.advise {
  color: white;
  margin-left: 50px;
  max-width: 30%;
}

.advise h2 {
  font-size: 30px;
  font-weight: 900;
}

.advise h2:nth-of-type(2) {
  margin-bottom: 10px;
}

.advise p {
  font-size: 20px;
  font-weight: 400;
}

form {
  max-width: 50%;
  min-width: 45%;
  margin-right: 50px;
  background-color: white;
  padding: 22px;
  border-radius: 5px;
}

form p {
  font-size: 15px;
  font-weight: 400;
}

.input {
  width: 100%;
  padding: 18px;
  border-radius: 5px;
  border: 2px solid #e0e0e0cb;
  transition: outline 0.3s ease;
}

.content {
  outline: 3px solid rgba(22, 216, 22, 0.76);
}

.blank {
  outline: 3px solid rgba(255, 0, 0, 0.5);
}

.alert {
  margin-left: 5px;
  font-size: 8px;
  color: red;
  opacity: 0;
}

.opacity {
  opacity: 1;
}

#btn {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  color: white;
  background-color: #3CCC87;
  border: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#btn:hover {
  background-color: #218856;
  
}